{% extends 'header.html' %}

{% block content %}
    <h1>About Me</h1>
    <section class="card w-50">
        <article class="card-body">
            <p class="card-text">Me llamo fabrizio soy programador backend en NodeJs utilizo tanto Typescript como Javascript ultimamente estuve utilizando el framework de express, con este curso me anime a aprender python y me gusto bastante aprendi varias cosas y dentro de esto el framework de django que me ayudo bastante a iniciar en este mismo y asi poder animarmele a este lenguaje que se usa en infinidad de lugares</p>
        </article>
    </section>
{% endblock %}