{% extends 'header.html' %}

{% block content %}
  <h1 style="text-align: center;">Animales</h1>
  <section style="display: flex; flex-direction: row; justify-content: center; gap: 10px;">
    <section class="div-form">
      <div class="agregar">
        <h3>Agregar Animal</h3>
        <form action="/crear_animal/" method="POST">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Agregar</button>
        </form>
      </div>
      <div class="buscar">
        <h3>Buscar Animal</h3>
        <form action="">
          {% csrf_token %}
          {{ form_buscar }}
          <button type="submit">Buscar</button>
        </form>
      </div>
    </section>
    <section class="lista">
      <h3>Listado animales</h3>
      <div class="table-result" style="height: 400px; overflow: scroll;">
        {% for animal in animales %}
          <article class="listado" style="margin: 1px; border-radius: 3px;height: 100px">
            <p style="text-align: center; color: white; background-color: #333;">Nombre: {{ animal.nombre }}</p>
            <p>ID: {{ animal.id }}</p>
            <p>Especie: {{ animal.especie }}</p>
          </article>
        {% endfor %}
      </div>
    </section>
  </section>
{% endblock %}
