{% extends "header.html" %}

{% block content %}
<h1 style="text-align: center;">Autos</h1>
<section style="display: flex; flex-direction: row; justify-content: center; gap: 10px;">
  <section class="div-form">
    <div class="agregar">
      <h3>Agregar Autos</h3>
      <form action="/crear_auto/" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Agregar</button>
      </form>
    </div>
    <div class="buscar">
      <h3>Buscar Autos</h3>
      <form action="">
        {% csrf_token %}
        {{ form_buscar }}
        <button type="submit">Buscar</button>
      </form>
    </div>
  </section>
  <section class="lista">
    <h3>Listado Autos</h3>
    <div class="table-result" style="height: 400px; overflow: scroll;">
      {% for auto in autos %}
        <article class="listado" style="margin: 1px; border-radius: 3px;">
          <p style="text-align: center; color: white; background-color: #333;">Modelo: {{ auto.modelo }}</p>
          <p>ID: {{ auto.id }}</p>
          <p>Marca: {{ auto.marca }}</p>
          <p>Año: {{ auto.año }}</p>
          <p>Precio: {{ auto.precio }}</p>
        </article>
      {% endfor %}
    </div>
  </section>
</section>
{% endblock %}