{% extends 'header.html' %}

{% block content %}
  <section>
  <h2>Lista de blogs</h2>
  <form method="GET" class="row g-1" >
    <div class="col-auto">
      <input class="form-control" type="text" name="title">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary mb-3" type="submit">Buscar</button>
    </div>
  </form>
  {% if user.is_authenticated %}
    <a href={%url "blog_create" %} class="btn btn-primary">Crear blog</a>
  {% endif %}
  {% if blogs %}
    <ul class="list-group">
      {% for blog in blogs %}
        <li class="list-group-item">
          {% comment %} <a href="{% url 'blog' blog.id %}">{{ blog.title }}</a> {% endcomment %}
          <a href={%url "blog_view" blog.id %}>{{ blog.title }} - {{blog.user}}</a>
          {% if user == blog.user %}
            <a href="{% url 'blog_edit' blog.id %}" class="btn btn-success">Editar</a>
            <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger">Eliminar</a>
          {% endif %}
          {% comment %} <a href="{% url 'blog_edit' blog.id %}" class="btn btn-success">Editar</a>
          <a href="{% url 'blog_delete' blog.id %}"class="btn btn-danger">Eliminar</a> {% endcomment %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay blogs</p>
  {% endif %}
  </section>
{% endblock %}
