{% extends 'header.html' %}

{% block content %}
    <article>
        <h1>{{ blog.title }}</h1>
        <img style="height: 300px; width: 100px;" src={{blog.image.url}} alt="">
        <p>{{ blog.description }}</p>
        <p>Creado por: {{ blog.user }}</p>
        {% if blog.user == user %}
            <a class="btn btn-primary" href="{% url 'blog_edit' blog.id %}">Editar</a>
        {% endif %}
        {% comment %} <a href="{% url 'delete_blog' blog.id %}">Eliminar</a> {% endcomment %}
    </article>
{% endblock %}
